@import "~styles/variables";

.card {
  text-decoration: none;
}
.character {
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: $box-shadow;
  display: flex;

  .status {
    flex: 1;
    padding: $spacer;
    background: $text-icons;
    & > p {
      display: flex;
      margin: 0 0 $spacer / 2;
    }
    img {
      width: 18px;
      height: 18px;
      margin-right: $spacer;
    }
    span {
      margin-right: $spacer * 2;
    }
    p,
    span {
      color: $primary-text;
    }
  }
}

.right {
  float: right;
}
