$spacer: 8px;

$break-small: 320px;
$break-medium: 600px;
$break-large: 1200px;

$primary: #607d8b;
$dark-primary: #455a64;
$light-primary: #cfd8dc;
$secondary: #fafafa;
$text-icons: #ffffff;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #03a9f4;
$divider: #bdbdbd;
$success: #009688;
$danger: #ff5252;

$transparent1: rgba(170, 170, 170, 0.13);

$border: 1px solid rgba(36, 52, 71, 0.28);
$box-shadow: 2px 2px 4px #aaaaaa;
