$spacer: 8px;

$break-small: 320px;
$break-medium: 600px;
$break-large: 1200px;

//$color1: #dad4a6;
//$color2: #a1a198;
//$color3: #d5d8d1;
//$color4: #eeeeee;
//$color5: #5c5c51;

$color1: #243447;
$color2: #141d26;
//$color3: #ffffff;
$color3: rgb(255, 64, 129);
$color4: #ffffff;
$color5: #e3f4f5;
$color6: #c51f5d;

$transparent1: rgba(170, 170, 170, 0.13);

$border: 1px solid rgba(36, 52, 71, 0.28);
$box-shadow: 1px 1px 5px #aaaaaa;
