@import "~styles/variables";

.game {
  display: flex;
  flex-flow: column;
  height: $spacer * 60;
  box-sizing: border-box;
  border: 1px solid black;
}

.header {
  display: block;
  overflow: hidden;
  padding: $spacer;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  & > h3 {
    margin: 0;
    float: right;
    display: block;
  }
}
