@import "~styles/variables";

.header {
  font-size: 20px;
  box-sizing: border-box;
  background: $color1;
  ul {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    list-style-type: none;
  }
  li {
    float: left;
    display: list-item;

    a {
      color: $color4;
      display: flex;
      align-items: center;
      text-align: center;
      text-decoration: none;
      padding: $spacer * 2 $spacer * 2;
      @media screen and (max-width: $break-small) {
        padding: 12px $spacer * 2;
      }
    }

    &.logo a {
      padding: 11px $spacer * 2 12px;
    }
  }
}

li.right {
  float: right;
}
