@import "~styles/variables";

.header {
  font-size: 20px;
  box-sizing: border-box;
  background: $primary;
  height: $spacer * 50;
  display: flex;
  flex-direction: column;
  ul {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    list-style-type: none;
    background: $dark-primary;
  }
  li {
    float: left;
    display: list-item;

    a {
      display: flex;
      font-weight: bold;
      color: $text-icons;
      align-items: center;
      text-align: center;
      text-decoration: none;
      padding: $spacer * 2 $spacer * 2;
      @media screen and (max-width: $break-small) {
        padding: 12px $spacer * 2;
      }
    }

    &.logo a {
      padding: 11px $spacer * 2 12px;
    }
  }
}

li.right {
  float: right;
}

.subHeader {
  top: 12%;
  position: absolute;
  margin-left: $spacer * 7;
  @media screen and (max-width: $break-medium) {
    top: 16%;
  }
}
.subHeaderContainer {
  flex: 1;
  color: $text-icons;
  padding: $spacer * 3;
}
