@import "~styles/variables";

.character {
  box-sizing: border-box;
  border: $border;
  box-shadow: $box-shadow;
  display: flex;

  .status {
    flex: 1;
    padding: $spacer;
    background: $color4;
    & > p {
      display: flex;
      margin: 0 0 $spacer / 2;
    }
    img {
      width: 18px;
      height: 18px;
      margin-right: $spacer;
    }
    span {
      margin-right: $spacer * 2;
    }
    p,
    span {
      color: $color2;
    }
  }
}

.player {
  float: right;
}
