@import "~styles/variables";

.container {
  height: 100%;
  overflow: hidden;
}

.avatar {
  height: 100%;
  display: flex;
  width: $spacer * 15;
  box-shadow: $box-shadow;
  margin-left: $spacer * 2;
  margin-top: $spacer * 2;
}

.avatarRow {
  margin: 0;
  width: 100%;
  display: inline-flex;
  align-items: flex-end;
}

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  .content {
    height: 100%;
    padding-right: $spacer * 3;
    @media screen and (max-width: $break-large) {
      padding-left: 0;
      padding-right: $spacer * 5;
    }
  }
  .footer {
    flex-shrink: 0;
  }
  .input {
    color: $primary-text;
    margin: 0 $spacer * 2;
  }

  .row {
    width: 100%;
    display: inline-flex;
    margin: $spacer * 2 0;
    justify-content: center;
    @media screen and (max-width: $break-medium) {
      margin: 0;
      flex-direction: column;
    }
  }
}
