@import "~styles/variables";

.game {
  height: $spacer * 50;
  box-shadow: $box-shadow;
}

.game,
.sumaryContainer {
  display: flex;
  flex-flow: column;
  background: $secondary;
  box-sizing: border-box;
}

.sumaryContainer {
  height: auto;
}

.sumary {
  width: 100%;
  font-style: italic;
  text-align: justify;
  padding: $spacer * 3;
  color: $secondary-text;
  box-sizing: border-box;
  border-radius: $spacer;
  background: $light-primary;
}

.sumaryPlaceholder {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  h4 {
    margin: $spacer 0;
    color: $primary-text;
  }
}

.link {
  text-decoration: none;
}

.header {
  display: flex;
  padding: 0 $spacer * 2;
  align-items: center;
  justify-content: space-between;
  background: $dark-primary;
  box-sizing: border-box;
  & > h3 {
    margin: 0;
    color: $text-icons;
    display: block;
  }
}
